/* .container-board {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
} */

.container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width:980px;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
  width: 10px;
}


Link {
  text-decoration: none !important;
}